@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.mainDiv * {
    box-sizing: border-box;
}

.mainDiv {
    margin: 0;
}

.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 100vh;
    width: 100%;
    background: url("fiubaRojo.jpg") center;
    background-size: cover;
    overflow: hidden;
    font-family: 'poppins',sans-serif;
}

.contenedor{
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 76vh;
    border-radius: 20px;
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh 0;
    backdrop-filter: blur(7px);
    background-color: rgba(0,80,75,0.05);
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.mainDiv h2{
    font-size: 2em;
    color: var(--blanco);
    text-align: center;
    margin: 30px;
    letter-spacing: 5px;
}


.usuarioDato{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px 0;
    width: 80%;
    border: none;
    color: var(--blanco);
    font-size: 1.1em;
}

.bigIcon {
    font-size: 6em;
    color: white;
}

.heartIcon {
    position: relative;
    color: rgb(255, 77, 77);
    font-size: 30px;
    margin: 5px;
    top: -5%;
}


.mainDiv ::placeholder {
    opacity: 1;
    color: #c9c6c6;
}

.submit{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background-color: var(--blanco);
    transform: scale(1.05);
}

.submitDisabled{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: rgb(0, 210, 189);
    border: none;
    outline: none;
    font-size: 1em;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.submitDisabled:hover {
    transform: scale(1.05);
}


.linkCambiarContrasenia{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
}

.linkCambiarContrasenia:hover{
    text-decoration: underline;
}

.linkCambiarUsername{
    margin-top: -10px;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
}

.mainDiv fieldset{
    position: relative;
    margin: 20px 0;
    width: 90%;
    border: none;
    border-bottom: 1px solid var(--blanco);
    padding: 0;
}

.mainDiv fieldset input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 0 0 10px;
    color: var(--blanco);
}

.mainDiv fieldset .icono{
    position: absolute;
    right: 8px;
    color: var(--blanco);
    font-size: 1.2em;
    top: 12px;
}

.volver {
    position: absolute;
    color: white;
    left: 10px;
    top: 10px;
    font-size: 2em;
}

.listaMisArchivos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    gap: 9px;
    padding: 0;
    list-style: none;
    color: white;
    overflow-y: auto;
    margin: 0;
}

.listaMisArchivos li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.listaMisArchivos li:hover {
    background-color: rgba(0,80,75,0.5);
}

.listaMisArchivos .icono {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.listaMisArchivos a {
    color: white;
    text-decoration: none;
}

.spinner{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    animation: rotate 2s linear infinite;
    color: var(--blanco);
}

@keyframes rotate {
    0%   {transform: translate(-50%,0) rotate(360deg)}
}
.arrowButton{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.arrowButton:hover{
    background-color: rgba(255, 255, 255, 0.19);
}
.listaMisArchivos::-webkit-scrollbar {
    width: 0;
}
.deleteButton{
    background-color: transparent;
    border: none;
    color: var(--blanco);
    cursor: pointer;
}
.deleteButton:hover{
    color: #15012c;
}

.confirmacion{
    position: fixed;
    display: none;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: white;
    border-radius: 6px;
    flex-direction: column;
    padding: 10px;
    gap:2px;
    border: 1px solid lightgray;
}
.confirmacion button{
    cursor: pointer;
    border: 1px solid lightslategray;
    border-radius: 6px;
}

.confirmacion .cancelarButton{
    background-color: rgb(220,100,100);
}
.confirmacion .cancelarButton:hover{
    background-color: rgb(240,130,130);
}
.confirmacion .confirmacionButton:hover{
    background-color: white;
}