.inputRespuesta{
    width: 100px;
    margin: 0 50%;
    color: white;
    border: 1px solid lightslategrey;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
}
.inputRespuesta:focus{
    outline: 1px solid white;
}

.boton{
    width: 50%;
    color: var(--blanco);
    background-color: var(--fondo);
    font-size: 1.5em;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 20px;
    box-shadow: 0 5px 10px var(--shadow);
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.referencia{
    margin: 1em 0 !important;
}