.bodyContainer{
    display: flex;
    width: 100%;
}

.sidebarIcon{
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgb(75,50,130);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(255,255,255,0.6);
}
.sidebarIcon:hover{
    color: white;
    background-color: rgb(105,80,160);
}

button{
    border: none;
}
.titulo{
    background-color: rgb(75,50,130);
    color: white;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.mainContainer{
    height: 100vh;
    width: 100vw;
}
.subtitulo{
    font-weight: lighter;
    text-align: center;
    margin: 0.5rem 0 0;
}
